:root {
  --main-clr : #1565c0
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Vazir-FD";
  src: url(../fonts/Vazirmatn-FD-Regular.woff2);
}

body {
  font-family: "Vazir-FD";
  margin: 0;
}

.main-header {
  background-color: var(--main-clr);
  padding: 8px 16px;
  width: 100vw;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  align-content: center;
}

.main-nav {
  display: flex;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-header__logo {
  color: #e3f2fd;
  text-decoration: none;
  font-size: 22px;
}

.main-nav__item a {
  text-decoration: none;
  color: #bbdefb;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #ffffff;
  transition: all .5s;
}

.main-nav__item--account {
  animation: account .3s 0s infinite;
}

.main-nav__item--account a {
  background-color: #e3f2fd;
  color: var(--main-clr);
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--account a:hover,
.main-nav__item--account a:active {
  color: var(--main-clr);
}

#overview {
  width: 100vw;
  height: 30vh;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-title {
  color: var(--main-clr);
  text-align: center;
}

.plan__list {
  width: 65%;
  margin: auto;
}

.plan {
  width: 100%;
  padding: 16px;
  margin: 8px;
  color: #424242;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.07);
  direction: rtl;
  text-align: center;
  border-radius: 3px;
}

.plan--highlight {
  background-color: #e3f2fd;
  color: var(--main-clr);
}

.plan__title--highlight {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 3px;
}

.plan__features {
  margin: 0;
  padding: 0;
  list-style: none;
}

.plan__feature {
  margin: 8px 0;
}

.plan__btn {
  background-color: var(--main-clr);
  color: #ffffff;
  border: none;
  font: inherit;
  padding: 4px 16px;
  border-radius: 3px;
  font-weight: bold;
  outline: none;
}

#features {
  background-color: #f5f5f5;
  margin-top: 80px;
  padding: 16px;
}

#features .section-title {
  margin: 32px;
}

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.features__image {
  background-color: #bbdefb;
  width: 128px;
  height: 128px;
  border: 1px solid #42a5f5;
  border-radius: 50%;
  margin: auto;
}

.features__description {
  text-align: center;
  font-weight: bold;
  color: #1976d2;
  font-size: 18px;
}

.main-footer {
  background-color: #424242;
  padding: 32px;
}

.main-footer__links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer__link {
  margin: 0 16px;
}

.main-footer__link a {
  text-decoration: none;
  color: #f5f5f5;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #e0e0e0;
}

@media (min-width: 40rem) {
  #overview {
    height: 50vh;
  }

  .plan {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    min-width: 12rem;
  }

  .features__list--element {
    display: inline-block;
    width: 30%;
  }
}

@keyframes account {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(10deg);
  }
}